---
import { discordServer } from "../stores/discord.svelte";
import Layout from "../layouts/Layout.astro";
import github from "../assets/socials/github.svg";
import reddit from "../assets/socials/reddit.svg";
import instagram from "../assets/socials/instagram.svg";
import discord from "../assets/socials/discord.svg";
import bluesky from "../assets/socials/bluesky.svg";
import postmiku from "../assets/socials/postmiku.png";
import lastfm from "../assets/socials/lastfm.svg";
import proton from "../assets/socials/proton.svg";
import { SEO } from "astro-seo";

const talkers: {
  name: string;
  handle: string;
  url: string;
  icon: typeof github | typeof postmiku;
}[] = [
  {
    name: "PostMiku Labs",
    handle: "",
    url: "https://git.vinster.xyz/postmiku",
    icon: postmiku,
  },
  {
    name: "GitHub",
    handle: "dragsbruh",
    url: "https://github.com/dragsbruh",
    icon: github,
  },
  {
    name: "Bluesky",
    handle: "furina.is-a.dev",
    url: "https://bsky.app/profile/furina.is-a.dev",
    icon: bluesky,
  },
  {
    name: "Discord",
    handle: "dragsbruh",
    url: "https://discord.com/users/781445370177126401",
    icon: discord,
  },
  {
    name: "Discord Server",
    handle: discordServer.split("/").at(-1)!,
    url: discordServer,
    icon: discord,
  },
  {
    name: "Instagram",
    handle: "dragsbruh",
    url: "https://instagram.com/dragsbruh",
    icon: instagram,
  },
  {
    name: "Reddit",
    handle: "LegenDrags",
    url: "https://reddit.com/user/LegenDrags",
    icon: reddit,
  },
  {
    name: "Last.fm",
    handle: "dragsbruh",
    url: "https://www.last.fm/user/dragsbruh",
    icon: lastfm,
  },
  {
    name: "ProtonMail (email)",
    handle: "dragsbruh@protonmail.com",
    url: "mailto:dragsbruh@protonmail.com",
    icon: proton,
  },
];
---

<head>
  <SEO
    charset="utf-8"
    title="furina's socials"
    description='search for "dragsbruh" on google to find more!'
    openGraph={{
      basic: {
        title: "furina's socials",
        type: "profile",
        image: `${Astro.site}/avatar.jpg`,
      },
    }}
  />
</head>

<Layout>
  <div class="flex flex-col gap-8">
    <h1 class="text-2xl font-semibold text-typo mb-4">Socials</h1>

    <div class="flex flex-col gap-4 w-full">
      {
        talkers.map((talker) => (
          <a
            href={talker.url}
            target="_blank"
            class="group rounded-xl px-4 flex gap-8 items-center py-2 hover:bg-accent hover:scale-[103%] hover:text-surface transition-all"
          >
            {typeof talker.icon === "function" ? (
              <talker.icon class="w-8 group-hover:scale-90" />
            ) : (
              <img
                src={talker.icon.src}
                class="w-8 group-hover:scale-90 rounded-full"
              />
            )}

            <h2 class="text-xl gap-0 flex flex-grow justify-between">
              {talker.name}
              <span class="text-typo-muted group-hover:text-surface">
                {talker.handle}
              </span>
            </h2>
          </a>
        ))
      }
    </div>
  </div>
</Layout>
